.heading-1{
    float:left;
    padding-right: 15px;
    padding-bottom:15px;

}
.heading-2{
    /* padding-top: 15px; */
    float:left;
}

.heading-3{
    float:left;
    padding-left:25px;
}

.top-heading-2{
    float:right;
}

.navbar-top-side{
    float:right;
    margin-right: 50px;
}

.button-div{
    padding-top: 50px;
}

.api-heading{
    float:left;
}

.extension {
    align-content: center;
}